#topFixedNavbar1{


    align-content: right;
}

ul{ 
  list-style-type: none;
}

li > p{
	
	font-variant: small-caps;
	font-size: 18pt;
	border-style: outset;
	border-width: 6px;
}
.green >p { 
	background-color: #42f461;
}

.yellow >p {
	background-color: #fbf757;
}
.red >p {
	background-color: #ff3c3c;
}
.greentr >tr { 
	background-color: #42f461;
}

.yellowtr >tr {
	background-color: #fbf757;
}
.redtr >tr {
	background-color: #ff3c3c;
}

.accordion.Fridge {
	font-family: Arial, Helvetica, sans-serif;
	border-color: #191d23;
	border-style: solid;
	border-width: 0px;
	border-radius: 8px;
	margin: 0 auto;
	width: 400px;
}
.accordion.Fridge > ul > li, .Fridge .accordion-title, .Fridge .accordion-content, .Fridge .accordion-separator {
	float: left;
}
.accordion.Fridge > ul > li {
	margin-right: -700px;
	margin-bottom: -0px;
}
.Fridge .accordion-select:checked ~ .accordion-separator {
	margin-right: 600px;
	margin-bottom: 0px;
}
.Fridge .accordion-title, .Fridge .accordion-select {
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 235px;
	font-size: 15px;
}
.Fridge .accordion-title span {
	margin-bottom: 20px;
	margin-left: 20px;
}

.Fridge .accordion-content {
	background-color: #ffffff;
	color: #4c5157;
	height: 234px;
	width: 400px;
}
#door_label {
    width 234px;
    position: absolute;
    top:20%;
    left:100px;
    font: bold 24px Georia;
    
    
}
#bottom_door.Fridge .accordion-content {
	background-color: #ffffff;
	color: #4c5157;
	height: 400px;
	width: 400px;
}

.Fridge .accordion-title, .Fridge .accordion-select:checked ~ .accordion-content {
	margin-right: 1px;
	margin-bottom: 1px;
}
/* Do not change following properties, they aren't 
generated automatically and are common for each slider. */
.accordion {
	overflow: hidden;
}
.accordion > ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 101%;
}


.accordion > ul > li, .accordion-title {
	position: relative;
}
.accordion-select {
	cursor: pointer;
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	margin: 0;
	z-index: 1;
}
.accordion-title span {
	display: block;
	position: absolute;
	bottom: 0px;
	width: 100%;
	white-space: nowrap;
}
.accordion-content {
	position: relative;
	overflow: auto;
}
.accordion-separator {
	transition: margin 0.3s ease 0.1s;
	-o-transition: margin 0.3s ease 0.1s;
	-moz-transition: margin 0.3s ease 0.1s;
	-webkit-transition: margin 0.3s ease 0.1s;
}
